MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=people_counter
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=people_counter

PEOPLE_COUNTER_SOURCE_FOLDER=\\chwinapp04\Transfer_People_Counter
PEOPLE_COUNTER_ROOT_FOLDER=C:\Users\ch800\Documents\KPI_COCKPIT
PEOPLE_COUNTER_MIN_ZIP_SIZE_BYTES=5120